<div class="tab-pane fade {% if index == 0 %} in active {% endif %}" id="{{ tab.getHash() }}">
    <a class="left-scroll" id="left-scroll-losangeles">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right-scroll" id="right-scroll-losangeles">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

    <div class="scrollable" id="scrollable-losangeles">
        {% for event in tab.events %}
            {% include 'tabs/event.twig' %}
        {% else %}
            {% include 'tabs/events.none.twig' %}
        {% endfor %}
    </div>
</div>