<li {% if index == 0 %} class="active" {% endif %} >
    <a href="#{{ calendar.getHash() }}" role="tab" data-toggle="tab" title="{{ calendar.locationTitle }}">
        {{ calendar.tabName }}
    </a>
</li>