<li {% if index == 0 and flyers is empty %} class="active" {% endif %} >
    <a href="#{{ tab.getHash() }}" role="tab" data-toggle="tab" title="{{ tab.locationTitle }}">
        {{ tab.tabName }}
    </a>
</li>