<ul class="nav nav-tabs centerthetabs" role="tablist">
    {% if flyers is not empty %}
        <li class="active">
            <a href="#flyers" role="tab" data-toggle="tab" title="Current Flyers">
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </a>
        </li>
    {% endif %}
    {% for index, tab in tabs %}
       {% include 'tabs/tab.twig' %}
    {% endfor %}
</ul>
<div id="myTabContent" class="tab-content">
    {% if flyers is not empty %}
        {% include 'tabs/flyers.twig' %}
    {% endif %}
    {% for index, tab in tabs %}
        {% include 'tabs/events.twig' %}
    {% endfor %}
    {% include 'upcoming/events.twig' %}
</div>