<ul class="nav nav-tabs centerthetabs" role="tablist">
    {% if flyers is not empty %}
        <li class="active">
            <a href="#flyers" role="tab" data-toggle="tab" title="Current Flyers">
                Flyers
            </a>
        </li>
    {% endif %}
    {% for index, tab in tabs %}
       {% include 'tabs/tab.twig' %}
    {% endfor %}
    <li>
        <a href="#all-upcoming" role="tab" data-toggle="tab" title="All Upcoming Events Across Neighborhoods">
            Neighborhoods
        </a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    {% if flyers is not empty %}
        {% include 'tabs/flyers.twig' %}
    {% endif %}
    {% for index, tab in tabs %}
        {% include 'tabs/events.twig' %}
    {% endfor %}
    {% include 'upcoming/events.twig' %}
</div>