{% for location, events in eventMap %}
    <div class="text-left popoverex activitylistneighborhoodgroups">
        <div class='activitylistneighborhood'>
            {{ location }}
        </div>
        {% for event in events %}
            <div class="activitylisttitle">
                {{ event.getSplitLineTitle() | raw }}
            </div>
            <div class="activitylistdate">
                {{ event.startDate | date('D M j g:ia') }}
            </div>
            <div class="activitylistdetails">
                {% include 'event.details.twig' with {'class': "btn btn-blue btn-sm"} %}
            </div>
        {% endfor %}
    </div>
{% endfor %}